/* Global Styling */
#css-theme-control {
    --header_height: 5vh;
    height: 100%;
    width: 100%;
}

/* Media Switcher */
.desktop-version
{
    display: none;
}

.mobile-version
{
    display: block;
    background: var(--background);
}

@media only screen and (min-device-width: 768px) {
    .mobile-version {display:none;}
    .desktop-version {display:block;}
}