<head>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139840061-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139840061-1');
  </script>
  <!-- End of Google Analytics -->
</head>

<div id="css-theme-control" style="width:100%;">
  <!-- Mobile Version (Color Bars) -->
  <div class="mobile-version">
    <div class="row">
      <div class="column" id="col1" role="link" aria-label="Yelp" onclick="window.location.href='http://yelp.juliansweatt.com'"><div class="label">J<br></div><img src="assets/connect/assets/social_logos/yelp.svg" alt="Yelp Logo"></div>
      <div class="column" id="col2" role="link" aria-label="Instagram" onclick="window.location.href='http://instagram.juliansweatt.com'"><div class="label">U</div><img src="assets/connect/assets/social_logos/instagram.svg" alt="Instagram Logo"></div>
      <div class="column" id="col3" role="link" aria-label="GitHub" onclick="window.location.href='http://github.juliansweatt.com'"><div class="label">L</div><img src="assets/connect/assets/social_logos/github.svg" alt="GitHub Logo"></div>
      <div class="column" id="col4" role="link" aria-label="LinkedIn" onclick="window.location.href='http://linkedin.juliansweatt.com'"><div class="label">I</div><img src="assets/connect/assets/social_logos/linkedin.svg" alt="LinkedIn Logo"></div>
      <div class="column" id="col5" role="link" aria-label="YouTube" onclick="window.location.href='http://youtube.juliansweatt.com'"><div class="label">A</div><img src="assets/connect/assets/social_logos/youtube.svg" alt="YouTube Logo"></div>
      <div class="column" id="col6" role="link" aria-label="Twitter" onclick="window.location.href='http://twitter.juliansweatt.com'"><div class="label">N</div><img src="assets/connect/assets/social_logos/twitter.svg" alt="Twitter Logo"></div>
    </div>
  </div>
  
  <!-- Desktop Version (Orbitals/Solar System) -->
  <div class="desktop-version">
    <div class="centered ring" id="center" role="button" aria-label="Julian Logo - Changes Theme of Website On Click" (click)="nextTheme();"></div>
    <div class="centered ring" id="orbit1"></div>
    <div class="centered ring" id="orbit2"></div>
    <div class="centered ring" id="orbit3"></div>
    <div class="centered ring" id="orbit4"></div>
    <div class="centered ring" id="orbit5"></div>
    <div class="centered ring" id="orbit6"></div>
  
    <div class="centered planet" id="planet1" role="link" aria-label="Yelp" onclick="window.location.href='http://yelp.juliansweatt.com'" alt="Yelp Logo"></div>
    <div class="centered planet" id="planet2" role="link" aria-label="Instagram" onclick="window.location.href='http://instagram.juliansweatt.com'" alt="Instagram Logo"></div>
    <div class="centered planet" id="planet3" role="link" aria-label="GitHub" onclick="window.location.href='http://github.juliansweatt.com'" alt="GitHub Logo"></div>
    <div class="centered planet" id="planet4" role="link" aria-label="LinkedIn" onclick="window.location.href='http://linkedin.juliansweatt.com'" alt="LinkedIn Logo"></div>
    <div class="centered planet" id="planet5" role="link" aria-label="YouTube" onclick="window.location.href='http://youtube.juliansweatt.com'" alt="YouTube Logo"></div>
    <div class="centered planet" id="planet6" role="link" aria-label="Twitter" onclick="window.location.href='http://twitter.juliansweatt.com'" alt="Twitter Logo"></div>
  </div>
</div>